# for compiled scripts
**/*.hi
**/*.o
**/*.exe

# for profiling and coverage
**/*.hp
**/*.ps
**/*.pdf
**/*.aux
.hpc
hpc_*
*.tix
*.prof
*.svg
*.html

# stack
.stack-work/
*~
*.cabal

# haddock
*.js
*.css
*.json
*.png
*.html